.one{
    max-width: max-content;
}
.heading{
    background-color: rgba(211, 113, 47, 0.352);
    
}
.checkbox{
    align-items: center;
    display: flex;
    gap: 5px;
}
.btn{
    margin: 10px -10px;
    border: none;
}
.comma_area{
    padding: 5px 20px;
}
.comma-instance{
    background-color: rgba(211, 113, 47, 0.352);
     margin-left: -20px;
     padding: 4px 8px;
     border-radius: 10px;
}
#comma{
    background-color: grey;
}
.comma-editing{
    background-color: lightblue;
    color: white;
}
.comma{
    margin-left: -30rem;
}
@media screen and (max-width:540px) {
    .comma{
        margin-left: 0;
    }
}
@media screen and (max-width:780px) {
    .comma{
        margin-left: 0;
    }
}
.comma_area {
    border: 2px dashed rgb(255, 255, 255);
    transition: border-color 0.3s ease;
}

.hovered {
    border-color: rgb(0, 0, 0);
}
